{% extends "layout.html" %} {% block content %}
<form hx-boost="false" action="/auth" method="get">
	<button type="submit">Login with Spotify</button>
</form>
<div x-data="{show: false}">
	<!-- <button @click="show = !show">Toggle</button> -->
	<!-- <script> -->
	<!-- 	document.addEventListener("alpine:init", () => { -->
	<!-- 		Alpine.data("timer", () => ({ -->
	<!-- 			count: 2, -->
	<!-- 			paused: false, -->
	<!-- 			init() { -->
	<!-- 				setInterval(() => { -->
	<!-- 					if (this.paused) { -->
	<!-- 						return; -->
	<!-- 					} -->
	<!-- 					if (this.count > 0) { -->
	<!-- 						this.count -= 1; -->
	<!-- 					} else if (this.count === 0) { -->
	<!-- 						this.paused = true; -->
	<!-- 						dispatchEvent(new CustomEvent("timerend")); -->
	<!-- 					} -->
	<!-- 				}, 1000); -->
	<!-- 			}, -->
	<!-- 		})); -->
	<!-- 	}); -->
	<!-- </script> -->
	<!-- <div -->
	<!-- 	x-data="timer" -->
	<!-- 	x-show="show" -->
	<!-- 	x-transition -->
	<!-- 	@timerend.window="alert('its over!!')" -->
	<!-- > -->
	<!-- 	<h1 x-text="count"></h1> -->
	<!-- </div> -->
</div>
{% endblock content %}
